### -*-hoc-*-
### /usr/local/src/hoc/hoc-7.0.0.beta/tr/hoc.rc, Mon Dec 17 12:02:53 2001
### Edit by Nelson H. F. Beebe <beebe@math.utah.edu>
### ====================================================================
###
### This is da/hoc.rc, with Turkish translations of hoc functions.
### If requested by the settings of the environment variables LC_ALL,
### LC_MESSAGES, or LANG (in that order of priority), this file will be
### loaded AFTER hoc.rc.  This means that it can gradually be augmented
### with translations of messages, leaving the original English text as
### a fallback.
###
### NB: The Turkish text is in the ISO8859-9 encoding, and will only be
### displayed correctly in a window with that text encoding.
###
### [17-Dec-2001]
### ====================================================================

### Turkish synonyms for some commands: the function name is Turkish,
### but the resulting help will be in English until more work is done.

proc haber()		news()
proc .Mçıkış ()		exit($$1)	## tr

proc yazar() \
{
	_internal_help_hrule()
	print "Hoc seri halinde artan birşekilde farklı uyarlamaları aşağıdaki kitapta\n"
	print "açıklanmaktadır:\n\n"

	print "\tBrian W. Kernighan ve Rob Pike\n"
	print "\tThe UNIX Programming Environment\n"
	print "\tPrentice-Hall\n"
	print "\t1984\n"
	print "\tpp. xii + 357\n"
	print "\tISBN 0-13-937699-2 (hardcover), 0-13-937681-X (paperback)\n"
	print "\tLCCN: QA76.76.O63 K48 1984\n\n"

	print "IEEE 754 aritmatiği, yardım, ek sabitler, ifadeler, ve fonksiyonlar,\n"
	print "başlangıç dosyaları ve GNU destek ekleri\n\n"

	print "\tNelson H. F. Beebe <beebe@math.utah.edu>\n\n"

	print "tarafından ilave edilmiştir.\n\n"

	print "Genişletilmiş hoc'ın resmi Internet arşvine\n\n"

	print "\tftp://ftp.math.utah.edu/pub/hoc\n"
	print "\thttp://www.math.utah.edu/pub/hoc/\n\n"

	print "adresinde bulmak mümkündür.\n"
	_internal_help_hrule()
}

### For now, we provide only a few sample translations.  The welcome
### banner will be printed both in English (from hoc.rc) and in Turkish
### (from this file).

proc _internal_hosgeldiniz() \
{
	_internal_help_hrule()
	print "Yüksek mertebelí genişlet.Aílebílír hesab makínasi,hoc'a,  ho.Mşgeld.Aíníz.\n"
	print "Bu hoc 7.0.0.beta uyarlamasidir (17 Aralik 2001).\n"
	print "Yard.Mım için yardım(), haberler için haber(), yazar hakkında bilgi için\n"
	print "yazar() yazınız.\n"
	if (__IEEE_754__) \
		print "Bu sistem IEEE 754 aritmatik floating-point'ı kullanmaktadır.\n" \
	else \
		print "Bu sistem IEEE 754 aritmatik floating-point'ı DESTEKLEMEMEKTEDİR.\n"
	print "\t****************************************************************\n"
	print "\tNOT: Hoc'taki yardım dosyasının Türkçe'ye tercümesi tamamen\n"
	print "\tbitirimemiştir. Bundan dolayı, kullanıcıların herhangi bir\n"
	print "\tyardımı bizleri mutlu edeceği gibi sizlerin gerek tercümeye\n"
	print "\tgerekse programın gelişmesi için tavsiyeleriniz ayrıyeten\n"
	print "\ttakdir edilecektir. Şimdiden teşekkürler.\n"
	print "\t****************************************************************\n"
	_internal_help_hrule()
}

### Print a welcome banner if option --no-banner was not specified:
if (__BANNER__) _internal_hosgeldiniz()
