### -*-hoc-*-
### /usr/local/src/hoc/hoc-7.0.0.beta/pt/hoc.rc, Tue Dec 18 17:57:35 2001
### Edit by Nelson H. F. Beebe <beebe@math.utah.edu>
### ====================================================================
###
### This is pt/hoc.rc, with Portuguese translations of hoc functions.
### If requested by the settings of the environment variables LC_ALL,
### LC_MESSAGES, or LANG (in that order of priority), this file will be
### loaded AFTER hoc.rc.  This means that it can gradually be augmented
### with translations of messages, leaving the original English text as
### a fallback.
###
### [18-Dec-2001]
### ====================================================================

### Portuguese synonyms for some commands: the function name is Portuguese,
### but the resulting help will be in English until more work is done.

proc novidades()	news()
### proc ??? ()		exit($$1)	## pt ??

proc autor() \
{
	_internal_help_hrule()
	print "Hoc é descrito numa série de versões cada vez mais possantes\n"
	print "no livro abaixo:\n\n"

	print "\tBrian W. Kernighan e Rob Pike\n"
	print "\tThe UNIX Programming Environment\n"
	print "\tPrentice-Hall\n"
	print "\t1984\n"
	print "\tpp. xii + 357\n"
	print "\tISBN 0-13-937699-2 (hardcover), 0-13-937681-X (paperback)\n"
	print "\tLCCN: QA76.76.O63 K48 1984\n\n"

	print "As extensões para aritmética IEEE 754, ajuda, constantes adicionais,\n"
	print "comandos e funções, arquivos de inicialização e suporte linha-a-linha do\n"
	print "GNU foram adicionados por:\n\n"

	print "\tNelson H. F. Beebe <beebe@math.utah.edu>\n\n"

	print "A página oficial na internet de distrbuição do hoc é:\n\n"

	print "\tftp://ftp.math.utah.edu/pub/hoc\n"
	print "\thttp://www.math.utah.edu/pub/hoc/\n"
	_internal_help_hrule()
}


### For now, we provide only a few sample translations.  The welcome
### banner will be printed both in English (from hoc.rc) and in Portuguese
### (from this file).
proc _internal_bem_vindo() \
{
	_internal_help_hrule()
	print "Bem-vindo à calculadora extensível de ordem superior, hoc.\n"
	print "Esta é a versão 7.0.0.beta [18-Dez-2001]\n"
	print "Entre ajuda() para ajuda, novidades() para novidades, e autor() para\n"
	print "informação sobre autor.\n"
	if (__IEEE_754__) \
		print "Este sistema suporta aritmética IEEE 754 de ponto flutuante.\n\n" \
	else \
		print "Este sistema não suporta aritmética IEEE 754 de ponto flutuante.\n\n"

	print "\t****************************************************************\n"
	print "\tNOTA: a tradução para o Português do texto de ajuda para hoc\n"
	print "\tainda está incompleta. O mantenedor ficará portanto grato em\n"
	print "\treceber contribuições do usuário nesta área, e também sugestões\n"
	print "\tsobre melhorias nas traduções e nos programas. Desde já\n"
	print "\tobrigado!\n"
	print "\t****************************************************************\n"

	_internal_help_hrule()
}

### Print a welcome banner if option --no-banner was not specified:
if (__BANNER__) _internal_bem_vindo()
