### -*-hoc-*-
### /usr/local/src/hoc/hoc-7.0.0.beta/fr/hoc.rc, Fri Dec 14 06:19:22 2001
### Edit by Nelson H. F. Beebe <beebe@math.utah.edu>
### ====================================================================
###
### This is fr/hoc.rc, with French translations of hoc functions.
### If requested by the settings of the environment variables LC_ALL,
### LC_MESSAGES, or LANG (in that order of priority), this file will be
### loaded AFTER hoc.rc.  This means that it can gradually be augmented
### with translations of messages, leaving the original English text as
### a fallback.
###
### [11-Dec-2001]
### ====================================================================

### French synonyms for some commands: the function name is French,
### but the resulting help will be in English until more work is done.

proc adieu()		exit($$1)
proc aurevoir()		exit($$1)
proc nouvelles()	news()

proc auteur() \
{
	_internal_help_hrule()
	print "Le logiciel hoc, dans une série de versions de plus en plus puissante,\n"
	print "est discuté dans le livre\n\n"

	print "\tBrian W. Kernighan et Rob Pike\n"
	print "\tThe UNIX Programming Environment\n"
	print "\tPrentice-Hall\n"
	print "\t1984\n"
	print "\tpp. xii + 357\n"
	print "\tISBN 0-13-937699-2 (hardcover), 0-13-937681-X (paperback)\n"
	print "\tLCCN: QA76.76.O63 K48 1984\n\n"

	print "Ce livre est aussi disponsible en traduction française :\n\n"

	print "\tL'Environnement de programmation UNIX\n"
	print "\tParis : InterÉditions\n"
	print "\t1986\n"
	print "\t372 p.\n"
	print "\tTraduit par Éric Horlait\n"
	print "\tISBN 2-7296-0130-9, ISSN 0297-5416\n"
	print "\tFRBNF34912448\n\n"

	print "Les extensions concernant l'arithmétique IEEE 754, le système d'aide,\n"
	print "les constantes, les expressions, les fonctions supplémentaires,\n"
	print "l'internationalisation, ainsi que le support de la bibliothèque\n"
	print "«GNU readline» [pour l'historique et l'édition des commandes], sont\n"
	print "ajoutés par :\n\n"

	print "\tNelson H. F. Beebe <beebe@math.utah.edu>\n\n"

	print "La source officielle du logiciel hoc se trouve sur l'Internet à:\n\n"

	print "\tftp://ftp.math.utah.edu/pub/hoc\n"
	print "\thttp://www.math.utah.edu/pub/hoc/\n"
	_internal_help_hrule()
}

__maintenant_lc_time = ""

proc maintenant() \
{
	__maintenant_lc_time = putenv("LC_TIME", "fr")
	print strftime("%c",systime()), "\n"
	__maintenant_lc_time = putenv("LC_TIME", __maintenant_lc_time)
}

proc aide_maintenant() \
{
	print "maintenant() donne l'heure actuelle.\n\n"
}

### For now, we provide only a few sample translations.  The welcome
### banner will be printed both in English (from hoc.rc) and in French
### (from this file).
proc _internal_bienvenue() \
{
	_internal_help_hrule()
	print "Bienvenue à la calculatrice, hoc.\n"
	print "C'est la version 7.0 du 15 décembre 2001.\n"
	print "Taper aide() pour de l'assistance, nouvelles() pour des nouvelles, et\n"
	print "auteur() pour des renseignements sur les auteurs.\n"
	if (__IEEE_754__) \
		print "Cet ordinateur supporte l'arithmétique en virgule flottante du standard\nIEEE 754.\n\n" \
	else \
		print "Cet ordinateur ne supporte pas l'arithmétique en virgule flottante du standard\nIEEE 754.\n\n"

	print "\t****************************************************************\n"
	print "\tATTENTION : La traduction des messages d'assistance de hoc\n"
	print "\td'anglais en français n'est pas encore complètement\n"
	print "\tachevée. Quand elle le sera, le mainteneur sera heureux de\n"
	print "\trecevoir des contributions dans ce domaine, et également, des\n"
	print "\tpropositions d'amélioration des traductions ou du logiciel.\n"
	print "\tMerci d'avance!\n"
	print "\t****************************************************************\n"

	_internal_help_hrule()
}

### Print a welcome banner if option --no-banner was not specified:
if (__BANNER__) _internal_bienvenue()
