### -*-hoc-*-
### /usr/local/src/hoc/hoc-7.0.0.beta/da/hoc.rc, Fri Dec 14 06:18:19 2001
### Edit by Nelson H. F. Beebe <beebe@math.utah.edu>
### ====================================================================
###
### This is da/hoc.rc, with Danish translations of hoc functions.
### If requested by the settings of the environment variables LC_ALL,
### LC_MESSAGES, or LANG (in that order of priority), this file will be
### loaded AFTER hoc.rc.  This means that it can gradually be augmented
### with translations of messages, leaving the original English text as
### a fallback.
###
### [14-Dec-2001]
### ====================================================================

### Danish synonyms for some commands: the function name is Danish,
### but the resulting help will be in English until more work is done.

proc farvel()		exit($$1)
proc nyheder()		news()

__nu_lc_time = ""

proc nu() \
{
	__nu_lc_time = putenv("LC_TIME", "da")
	print strftime("%c",systime()), "\n"
	__nu_lc_time = putenv("LC_TIME", __nu_lc_time)
}

proc hjælp_nu() \
{
	print "nu() fortæller, hvad klokken er nu.\n\n"
}

proc hjælp_klokken() \
{
	print "klokken() fortæller, hvad klokken er nu.\n\n"
}

proc klokken() 		nu()
proc hjaelp_nu()	hjælp_nu()
proc hjaelp_klokken()	hjælp_klokken()

proc forfatter() \
{
	_internal_help_hrule()
	print "hoc er beskrevet i en række voksende kraftige versioner i denne bog:\n\n"

	print "\tBrian W. Kernighan og Rob Pike\n"
	print "\tThe UNIX Programming Environment\n"
	print "\tPrentice-Hall\n"
	print "\t1984\n"
	print "\tpp. xii + 357\n"
	print "\tISBN 0-13-937699-2 (hardcover), 0-13-937681-X (paperback)\n"
	print "\tLCCN: QA76.76.O63 K48 1984\n\n"

	print "Udvidelsen for IEEE 754 aritmetik, hjælp, ekstra konstanter,\n"
	print "sætninger, og funktioner, start filer, internationalisering,\n"
	print "og støtte for GNU readline er indført af:\n\n"

	print "\tNelson H. F. Beebe <beebe@math.utah.edu>\n\n"

	print "Den officiale Internet arkiv for den udvidede hoc findes ved:\n\n"

	print "\tftp://ftp.math.utah.edu/pub/hoc\n"
	print "\thttp://www.math.utah.edu/pub/hoc/\n"
	_internal_help_hrule()
}

### For now, we provide only a few sample translations.  The welcome
### banner will be printed both in English (from hoc.rc) and in Danish
### (from this file).

proc _internal_welkommen() \
{
	_internal_help_hrule()
	print "Welkommen til den udvidelige regnemaskin, hoc.\n"
	print "Dette program er hoc version 7.0 af den 15.12.2001.\n"
	print "Indtast hjælp() for hjælp, nyheder() for nyheder, og forfatter() for\n"
	print "information om forfatterne.\n"
	if (__IEEE_754__) \
		print "Dette system støtter IEEE 754 flydendepunkt aritmetik.\n\n" \
	else \
		print "Detter system støtter IKKE IEEE 754 flydendepunkt aritmetik.\n\n"

	print "\t****************************************************************\n"
	print "\tBEMÆRKNING: Oversættelsen af hjælp teksten i hoc er ikke endnu\n"
	print "\tfuldstændiggjort.  Vedligeholderen vil derfor være glad for\n"
	print "\tbruger bidrag i denne retning, og også for forslag om\n"
	print "\tforbedringer til oversættelserne, og til programmet.  Tak på\n"
	print "\tforhånd!\n"
	print "\t****************************************************************\n"
	_internal_help_hrule()
}

### Print a welcome banner if option --no-banner was not specified:
if (__BANNER__) _internal_welkommen()
