### -*-hoc-*-
### /usr/local/src/hoc/hoc-7.0.0.beta/de/hoc.rc, Fri Dec 14 06:12:34 2001
### Edit by Nelson H. F. Beebe <beebe@math.utah.edu>
### ====================================================================
###
### This is de/hoc.rc, with German translations of hoc functions.
### If requested by the settings of the environment variables LC_ALL,
### LC_MESSAGES, or LANG (in that order of priority), this file will be
### loaded AFTER hoc.rc.  This means that it can gradually be augmented
### with translations of messages, leaving the original English text as
### a fallback.
###
### [14-Dec-2001]
### ====================================================================

### German synonyms for some commands: the function name is German,
### but the resulting help will be in English until more work is done.

proc ausgang()		exit($$1)
proc aufwiedersehen()	exit($$1)
proc neues()		news()

### For now, we provide only a few sample translations.  The welcome
### banner will be printed both in English (from hoc.rc) and in German
### (from this file).

proc autor() \
{
	_internal_help_hrule()
	print "[TO DO: finish translation from Danish and English to German]\n"
	print "In dem Buch\n"
	print "\tBrian W. Kernighan und Rob Pike\n"
	print "\tThe UNIX Programming Environment\n"
	print "\tPrentice-Hall\n"
	print "\t1984\n"
	print "\tpp. xii + 357\n"
	print "\tISBN 0-13-937699-2 (hardcover), 0-13-937681-X (paperback)\n"
	print "\tLCCN: QA76.76.O63 K48 1984\n\n"
	print "wird hoc durch eine Reihe von verbesserten Versionen beschrieben.\n\n"

	print "This book is also available in German translation:\n\n"
	print "\tDer UNIX-Werkzeugkasten : Programmieren mit UNIX\n"
	print "\tDie dt. Ausg. besorgte A.-T. Schreiner. - München ; Wien : Hanser\n"
	print "\t1986.\n"
	print "\tXVI + 402 S.\n"
	print "\tISBN 3-446-14273-8\n"
	print "\tSignatur: DBF D 86/55727\n"
	print "\tIDN: 861224272\n\n"

	print "Erweiterungen für IEEE 754 Arithmetik, Hilfe, mehr Konstanten, Befehle,\n"
	print "Funktionen, Initialisierungs-Dateien, und Unterstützung von GNU\n"
	print "readline wurden von\n\n"
	print "\tNelson H. F. Beebe <beebe@math.utah.edu>\n\n"
	print "hinzugefügt.\n\n"

	print "The extended hoc master Internet source distribution site is at:\n\n"

	print "\t\tftp://ftp.math.utah.edu/pub/hoc\n"
	print "\t\thttp://www.math.utah.edu/pub/hoc/\n"
	_internal_help_hrule()
}

proc _internal_willkommen() \
{
	_internal_help_hrule()
	print "[TO DO: finish translation from English to German]\n"
	print "Wilkommen zum erweiterbaren Rechner, hoc\n"
	print "Diese ist Version 7.0.0.beta vom 15. Dezember 2001\n"
	print "Tippen sie hilfe() für Hilfe, neues() für Neues, und autor() für Autor\n"
	print "Informationen.\n"
	if (__IEEE_754__) \
		print "This system supports IEEE 754 floating-point arithmetic.\n\n" \
	else \
		print "This system does NOT support IEEE 754 floating-point arithmetic.\n\n"

	print "\t****************************************************************\n"
	print "\tAnmerkung: Die deutsche Übersetzung der Hilfe in hoc ist nicht\n"
	print "\tkomplett.  Der maintainer würde sich uber Benutzerbeiträge in\n"
	print "\tdiesem Bereich, und über Vorschläge für Verbesserungen in der\n"
	print "\tÜbersetzung und des Programmes sehr freuen.  Vielen Dank im\n"
	print "\tVoraus!\n"
	print "\t****************************************************************\n"
	_internal_help_hrule()
}

### Print a welcome banner if option --no-banner was not specified:
if (__BANNER__) _internal_willkommen()
